$line-height: 51px;

.text-container {
  position: relative;
  white-space: pre-wrap;
  line-height: $line-height;
  font-size: 2rem;
  user-select: none;

  &__cursor {
    position: absolute;
    border: 1px solid black;
    height: $line-height;
    background-color: black;
  }

  &__text_correct {
    background-color: green;
  }

  &__text_incorrect {
    background-color: red;
  }
}
