@use '../../../styles/global.scss' as global;

.text-container {
  position: relative;
  white-space: pre-wrap;
  padding: 0px;
  padding-bottom: global.$line-height * 2;
  line-height: global.$line-height;
  font-size: 2rem;
  user-select: none;

  &__cursor {
    position: absolute;
    border: 1px solid black;
    height: global.$line-height;
    background-color: black;
  }

  &__text_correct {
    background-color: green;
  }

  &__text_incorrect {
    background-color: red;
  }
}
