#log-in-form-wrapper {
  position: fixed;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.4);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}

#log-in-form {
  height: fit-content;
  color: white;
  background-color: black;
  display: flex;
  flex-direction: column;
}
