@use './../../styles/global.scss' as global;

.typing-box {
  border: 1px solid black;
  width: 85%;
  height: global.$line-height * global.$line-number;
  padding: 0px;
  position: relative;

  &__input-catcher {
    position: fixed;
    left: -10000px;
  }
}
