$font-size: 2rem;

.typing-box {
  border: 1px solid black;
  margin: 0px 30px;
  height: 153px;
  font-size: $font-size;
  overflow-y: hidden;
  padding: 0px;
  line-height: 51px;

  &__input-catcher {
    position: fixed;
    left: -10000px;
  }

  &__cursor {
    position: absolute;
    border: 1px solid black;
    height: $font-size;
    background-color: black;
  }
}
